$contentMaxWidth: 1320px;

$mainFont: 'SF-UI-Display';
$secondFont: 'Wadik';
$padding: 16px;
$paddingXXL: 60px;
$paddingXL: 32px;


$white: #fff;
$white_60: rgba(255, 255, 255, 0.60);
$black: #0E0F11;
$gold: #E0B330;
$bgc: #F3F7FB;


$gray: #8F959B;
$grayLight: #C3C8CF;
$green: #28906F;
$red: #F24C41;
$redLight: rgba(240, 87, 77, 0.20);
$blue: #2557F6;

$index: calc(1vh + 1vw)
