@mixin font-face($font-family, $file-path, $weight: normal, $ext: " ttf", $style: normal) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;
    src: url("#{$file-path}.#{$ext}") format("truetype");
  }
}

@include font-face("SF-UI-Display", "../fonts/sf-ui-display-regular", 400, "ttf");
@include font-face("SF-UI-Display", "../fonts/sf-ui-display-medium", 500, "ttf");
@include font-face("SF-UI-Display", "../fonts/sf-ui-display-semibold", 600, "ttf");
@include font-face("SF-UI-Display", "../fonts/sf-ui-display-bold", 700, "ttf");

